/*	
*	################################################################################
*	
*	INSTINCT Custom Style for KINGADMIN
*	---------------------------------------------------------------------
*
*	Version		1.0
*	Author		Muhammad Ghufran <muhammad.ghufran4@gmail.com>
*	
*	Override theme style or create your new styles. Direct change to main.css
*	is not recommended to avoid problems when theme updates arrived in the future
*	
*	################################################################################
*/

i.empty-data{
	color: red;
	font-weight: bold;
}

.form-group.no-margin-b
{
	margin-bottom: 0px !important;
}

.pad-10
{
	padding-bottom: 10px !important;
}

.qtitle
{
	font-size: 14px !important;
	font-weight: bold !important;
}

hr.no-margin
{
	margin: 0px !important;
}
